@use "mixins" as *;
@use "variables" as *;

h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}

p, button, textarea {
    font-family: $font-secondary;
}


.about-section {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
    margin: 1rem 0 1rem;

    @include tablet {
        flex-direction: row;
    }

    @include desktop {
        flex-direction: row;

    }

    .about-text {
        max-width: 1000px;
        margin: 0 auto 1.5rem auto;
    }

    .about-image {
        width: 100%;
        max-width: 600px;
        height: auto;
        max-height: 400px;
        object-fit: cover;
        padding: 1.5rem;

        @include tablet {
            display: none
        }

        @include desktop {
            display: none;
        }
        }
    }


.staff-section {
    background-color: $color-beige-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    
    .container {
    background-color: $color-white;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;

    @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    }
    }


    img {
        width: 100%;
        height: 400px;
        max-width: 300px;
        margin: 2rem 0rem 1rem;
        border: 12px solid $color-pink-light;
        }

    .bio {
        margin: 0 auto;
        max-width: 300px;
        margin-bottom: 2rem;
        }

    }
