@use "mixins" as *;
@use "variables" as *;

h1, h2, h3 {
    font-family: $font-primary;
}

p {
    font-family: $font-secondary;
}

h1 {
    text-align: center;
    padding-top: 1rem;
}

.contact-adress, .contact-mail, .contact-phone  {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;

}

.contact-section {
    background-color: $color-beige-light;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;

    .contact-image {
        width: 100%;
        max-width: 800px;
        height: auto;
        display: block;
    }

    .contact-form, .aside-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;
    }

    .aside-form {
        width: 100%;

    }

    .label-text {
        width: 100%;
        max-width: 800px;
        padding: 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }


    .contact-button {
        background-color: $color-green-dark;
        color: $color-white;
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
        border: none;
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            background-color: $color-green;
        }

    }

}