@use "mixins" as *;
@use "variables" as *;

h1 {
    text-align: center;
    padding-top: 2rem;
}


.contacts-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    }

    .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;

    .ikon {
        margin-bottom: 1rem;

        svg {
        width: 48px;
        height: 48px;
        }
    }

    }

        @include tablet {
        .contacts-container {
            flex-direction: row;
            justify-content: space-between;
        }

        .contact {
            flex: 1;
        }
    }



    .contact-image {
        width: 100%;
        max-width: 800px;
        height: auto;
        display: block;

            @include tablet {
            width: 50%;
        }
    }


    .contact-form, .aside-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 2rem;

        @include tablet {
            flex-direction: row;
        }
    }


    .aside-form {
        width: 100%;

        @include tablet {
            width: 50%;
        }
    }

    .label-text {
        width: 100%;
        max-width: 800px;
        padding: 1rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }


    .contact-button {
        background-color: $color-green-dark;
        color: $color-white;
        width: 100%;
        max-width: 800px;
        margin: 1rem auto;
        padding: 0.8rem 1.5rem;
        font-size: 1.1rem;
        cursor: pointer;

        &:hover {
            background-color: $color-green;
        }

    }
