@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $color-beige-dark;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        display: flex;
        justify-content: space-between;

        .logo-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            align-items: center;
            max-width: 200px;
            padding: 10px;

            .logo-img {
                max-width: 70px;
                border-radius: 50%;
            }

            .logo-text {
                margin: 25px auto auto 5px;
            }
        }

        .search-bar {
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 5px;

            .search {
                width: 150px;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 4px;
            }
        }
    }

    .header-bottom {
        padding: 10px 0;
        text-align: center;

        .nav-menu-container {
            display: none;
        }

        .hamburger-menu-container {
            display: block;

            #menu-toggle {
                display: none;
            }

            .menu-icon {
                position: fixed;
                top: 15px;
                right: 15px;
                width: 40px;
                height: 40px;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;

                & i {
                    width: 100%;
                    height: 100%;
                    transition: opacity 0.3s ease;
                }

                & i.close {
                    display: none;
                }
            }

            #menu-toggle:checked+.menu-icon .hamburger {
                display: none;
            }

            #menu-toggle:checked+.menu-icon .close {
                display: block;
            }

            .sidebar {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                width: 200px;
                height: 100%;
                background-color: #f4ede5;
                transition: right 0.3s ease;
                z-index: 1;
                padding-top: 60px;
            }

            #menu-toggle:checked~.sidebar {
                display: block;
            }
        }
    }

    .hero {
        position: relative;
        text-align: center;

        &-img {
            max-width: 100%;
            height: auto;
            display: block;
            opacity: 0.7;
        }

        &-flex-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .hero-text {
                position: absolute;
                top: 15%;
                width: 85%;
            }

            .hero-btn {
                position: absolute;
                bottom: 20%;
                padding: 10px 20px;
                background-color: #4d5a49;
                color: white;
                border: none;
                cursor: pointer;
            }

            .hero-btn:hover {
                background-color: #6b7a69;
            }
        }
    }
}


@include desktop {
    header .header-bottom .hamburger-menu-container {
        display: none;
    }

    header .header-bottom .nav-menu-container {
        display: block;
    }

    nav ul li {
        display: inline;
    }

    .nav-link {
        text-decoration: none;
        color: black;
        padding: 11px 5px;
        cursor: pointer;
    }

    .nav-link:hover {
        background-color: #f4ede5;
    }

    .active {
        background-color: #f4ede5;
    }
}