@use "mixins" as *;
@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: $color-beige-dark;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top {
        display: flex;
        justify-content: space-between;

        .logo-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: start;
            align-items: center;
            max-width: 200px;
            padding: 8px;

            .logo-img {
                max-width: 50px;
                border-radius: 50%;
            }

            .logo-text {
                margin: 0 0 0 5px;
                color: $color-brown;
            }
        }
    }

    .header-bottom {
        padding: 10px 0;
        text-align: center;

        .nav-menu-container {
            display: none;
        }

        .hamburger-menu-container {
            display: block;

            #menu-toggle {
                display: none;
            }

            .menu-icon {
                position: fixed;
                top: 25px;
                right: 15px;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                & i {
                    width: 100%;
                    height: 100%;
                    transition: opacity 0.3s ease;
                }

                & i.close {
                    display: none;
                }
            }

            #menu-toggle:checked+.menu-icon .hamburger {
                display: none;
            }

            #menu-toggle:checked+.menu-icon .close {
                display: block;
            }

            .sidebar {
                display: none;
                position: fixed;
                top: 0;
                right: 0;
                width: 200px;
                height: 100%;
                background-color: #f4ede5;
                transition: right 0.3s ease;
                z-index: 1;
                padding-top: 60px;
            }

            .sidebar-links {
                list-style-type: none;

                .sidebar-link {
                    display: inline-block;
                    margin: 10px auto;
                    text-decoration: none;
                    color: black;
                }

                .sidebar-link:hover {
                    text-decoration: underline;
                }
            }

            #menu-toggle:checked~.sidebar {
                display: block;
            }
        }

        .header-btn-container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: end;
            margin-right: 40px;

            .header-btn {
                width: 100px;
                padding: 5px;
                color: $color-white;
                background-color: $color-green-dark;
                border: none;
                cursor: pointer;
            }

            .header-btn:hover {
                background-color: $color-green;
            }
        }
    }

    .hero {
        position: relative;
        text-align: center;

        &-img {
            max-width: 100%;
            height: auto;
            display: block;
            opacity: 0.7;
        }

        &-flex-container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .hero-text {
                position: absolute;
                top: 15%;
                width: 85%;
            }

            .hero-btn {
                position: absolute;
                bottom: 20%;
                padding: 10px 20px;
                background-color: $color-green-dark;
                color: white;
                border: none;
                cursor: pointer;
            }

            .hero-btn:hover {
                background-color: $color-green;
            }
        }
    }
}

.btn {
    padding: 5px 15px;
}

a {
    text-decoration: none;
}


@include tablet {
    header .header-bottom .hamburger-menu-container {
        display: none;
    }

    header .header-bottom {
        display: flex;
        justify-content: center;
        align-items: center;

        .nav-menu-container {
            display: block;
            margin-right: 45px;
        }


        nav ul li {
            display: inline;
        }

        .nav-link {
            font-size: smaller;
            text-decoration: none;
            color: black;
            padding: 11px;
            border-radius: 20px;
            cursor: pointer;
        }

        .nav-link:hover {
            background-color: #f4ede5;
        }

        .active {
            background-color: #f4ede5;
        }
    }
}