* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e4d4c3;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-bottom {
    padding: 10px 0;
    text-align: center;

    nav ul li {
        display: inline;
    }

    nav ul li a {
        text-decoration: none;
        color: black;
        padding: 5px;
    }
}


.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-width: 200px;
    padding: 10px;

    .logo-img {
        max-width: 70px;
        border-radius: 50%;
    }

    .logo-text {
        margin: 25px auto auto 5px;
    }
}

.hero {
    position: relative;
    text-align: center;
    color: white;

    &-img {
        max-width: 100%;
        height: auto;
        display: block;
        opacity: 0.7;
    }

    &-text {
        position: absolute;
        top: 20%;
        width: 70%;
    }

    &-btn {
        position: absolute;
        top: 45%;
        right: 5%;
        padding: 10px 20px;
        background-color: #4d5a49;
        color: white;
        border: none;
        cursor: pointer;
    }
}