@use "mixins" as *;
@use "variables" as *;


h1, h2, h3, h4, h5, h6 {
    font-family: $font-primary;
}

p, li, button, input, textarea {
    font-family: $font-secondary;
}

.main-container {
    max-width: 100vw;

    .main-about-us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $color-beige-light;
        overflow: hidden;
        width: 100%;

        .main-about-us-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            &1,
            &2 {
                max-width: 90%;

                & h2,
                & h3 {
                    text-align: center;
                    padding: 20px;
                }

                & p {
                    padding: 5px 20px;
                }

            }
        }

        &-img img {
            margin-top: 30px;
            max-width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }

        @include desktop {
            flex-direction: row;
            padding: 30px;
        }
    }

    .main-services {
        & h3 {
            text-align: center;
            padding: 20px;
            font-size: x-large;
        }

        &-cards {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 10px;

            .main-service-card {
                position: relative;
                display: inline-block;

                & img {
                    max-width: 450px;
                    height: auto;
                    display: block;
                    object-fit: cover;
                    margin: 10px;
                }

                & .btn {
                    position: absolute;
                    bottom: 5%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding: 10px 20px;
                    margin: 30 auto;
                    background-color: $color-green-dark;
                    color: $color-white;
                    border: none;
                    cursor: pointer;
                }

                .massage-img {
                    max-height: 350px;
                }
            }

            @include tablet {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }

    @include tablet {
        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }
}

.main-choice-container {
    background-color: $color-beige-light;
    padding: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .main-choice-text {
        max-width: 600px;

        p {
            padding: 10px;
            margin: 0 20px;
        }
    }

    .main-choice-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }

    @include tablet {
        flex-direction: row;
        padding: 30px;
    }

}

.carousel.slide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .review-card {
        background-color: $color-pink-light;
        padding: 2rem;
        margin: 2rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: $color-pink-light;
        border-radius: 50%;
        padding: 10px;
        background-size: 100%, 100%;
    }

}


.main-carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.review-section {
    max-width: 1000px;
    text-align: left;
    padding-top: 3rem;

    .text-center-customer {
        text-align: center;
        padding-bottom: 1rem;
    }
}

