@use "variables" as *;
@use "mixins" as *;

.reference-main {
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .intro-section {
    p {
      max-width: 650px;
      margin: 30px;
    }
  }

  .partners-section {
    background-color: $color-beige-light;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      max-width: 650px;
      margin: 30px;
    }

    .main-products-logos {
      .main-product-logo img {
        max-width: 250px;
      }
    }
  }

  .review-section {
    p {
      max-width: 650px;
      margin: 30px;
    }
  }

  .card-review-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    .card-review {
      max-width: 330px;
      background-color: $color-pink-light;
      border: none;
      margin: 10px;
      margin-bottom: 40px;
    }
  }


  .main-products-container {
    background-color: $color-beige-light;
    padding: 1rem;
    margin-top: 2rem;


    .main-product-logo {
      img {
        max-width: 250px;
      }
    }
  }
}