@use "variables" as *;
@use "mixins" as *;

.reference-main {
  @include flexBox(column, center, center);

  .intro-section {
    p {
      max-width: 350px;
      margin: 30px;
    }

    @include tablet {
      p {
        max-width: 700px;
      }
    }
  }

  .main-products-container {
    @include flexBox(column, center, center);
    background-color: $color-beige-light;
    max-width: 100%;
    padding: 1rem;
    margin-top: 2rem;

    & p {
      max-width: 350px;
      margin: 30px;
    }

    @include tablet {
      p {
        max-width: 700px;
      }
    }

    .main-product-logo {
      img {
        max-width: 250px;
      }
    }
  }

  .review-section {
    p {
      max-width: 350px;
      margin: 30px;
    }

    @include tablet {
      p {
        max-width: 700px;
      }
    }
  }

  .card-review-section {
    @include flexBox(wrap, space-around);
    max-width: 800px;

    .card-review {
      max-width: 330px;
      background-color: $color-pink-light;
      border: none;
      margin: 10px;
      margin-bottom: 40px;
    }

    @include tablet {
      max-width: 1200px;
    }
  }
}
