.main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

.treat-card,
.main-treat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.img-service {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1.5rem;
  margin: 1rem 0;
}
