@use "mixins" as *;
@use "variables" as *;

.main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  overflow-x: hidden;
}

.treat-card,
.main-treat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
}

.img-service {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1.5rem;
  margin: 1rem 0;
}

.cards-section {
  background: $color-beige-light;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;

  .treat-card {
    width: 90%;
    max-width: 600px;
    background: #fff;
    padding: 1.5rem;
    margin: 1rem auto;
  }
}
