// Grundfärger
$color-white: #ffffff;
$color-beige-light: #f4ede5;
$color-beige-dark: #e4d4c3;
$color-pink-light: #f4dad0;
$color-brown: #865f47;
$color-green: #6a7b64;
$color-green-dark: #4d5a49;
$color-gray-dark: #484646;

// Funktionella variabler
$background-main: $color-white;
$background-alt: $color-beige-light;
$background-header-footer: $color-beige-dark;

$button-primary: $color-green-dark;
$button-secondary: $color-brown;

$text-primary: $color-gray-dark;
$card-background: $color-pink-light;

// Font-familjer
$font-primary: "Hedvig Letters Serif", serif; 
$font-secondary: Montserrat, sans-serif;

$font-h2: 7rem;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px)