* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #e4d4c3;
}
header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-top {
  display: flex;
  justify-content: space-between;
}
header .header-top .logo-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  max-width: 200px;
  padding: 10px;
}
header .header-top .logo-container .logo-img {
  max-width: 70px;
  border-radius: 50%;
}
header .header-top .logo-container .logo-text {
  margin: 25px auto auto 5px;
}
header .header-bottom {
  padding: 10px 0;
  text-align: center;
}
header .header-bottom .nav-menu-container {
  display: none;
}
header .header-bottom .hamburger-menu-container {
  display: block;
}
header .header-bottom .hamburger-menu-container #menu-toggle {
  display: none;
}
header .header-bottom .hamburger-menu-container .menu-icon {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-bottom .hamburger-menu-container .menu-icon i {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
}
header .header-bottom .hamburger-menu-container .menu-icon i.close {
  display: none;
}
header .header-bottom .hamburger-menu-container #menu-toggle:checked + .menu-icon .hamburger {
  display: none;
}
header .header-bottom .hamburger-menu-container #menu-toggle:checked + .menu-icon .close {
  display: block;
}
header .header-bottom .hamburger-menu-container .sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #f4ede5;
  transition: right 0.3s ease;
  z-index: 1;
  padding-top: 60px;
}
header .header-bottom .hamburger-menu-container .sidebar-links {
  list-style-type: none;
}
header .header-bottom .hamburger-menu-container .sidebar-links .sidebar-link {
  display: inline-block;
  margin: 10px auto;
  text-decoration: none;
  color: black;
}
header .header-bottom .hamburger-menu-container .sidebar-links .sidebar-link:hover {
  text-decoration: underline;
}
header .header-bottom .hamburger-menu-container #menu-toggle:checked ~ .sidebar {
  display: block;
}
header .header-bottom .search-bar {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: end;
  margin: 20px;
}
header .header-bottom .search-bar .search {
  width: 150px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
header .hero {
  position: relative;
  text-align: center;
}
header .hero-img {
  max-width: 100%;
  height: auto;
  display: block;
  opacity: 0.7;
}
header .hero-flex-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .hero-flex-container .hero-text {
  position: absolute;
  top: 15%;
  width: 85%;
}
header .hero-flex-container .hero-btn {
  position: absolute;
  bottom: 20%;
  padding: 10px 20px;
  background-color: #4d5a49;
  color: white;
  border: none;
  cursor: pointer;
}
header .hero-flex-container .hero-btn:hover {
  background-color: #6b7a69;
}

@media (min-width: 768px) {
  header .header-bottom .hamburger-menu-container {
    display: none;
  }
  header .header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-bottom .nav-menu-container {
    display: block;
    margin: 0 10px;
  }
  header .header-bottom nav ul li {
    display: inline;
  }
  header .header-bottom .nav-link {
    text-decoration: none;
    color: black;
    padding: 11px 5px;
    cursor: pointer;
  }
  header .header-bottom .nav-link:hover {
    background-color: #f4ede5;
  }
  header .header-bottom .active {
    background-color: #f4ede5;
  }
}
.main-services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  overflow-x: hidden;
}

.treat-card,
.main-treat-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
}

.img-service {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: 1.5rem;
  margin: 1rem 0;
}

.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0rem 0rem;
}
.about-section .about-text {
  max-width: 600px;
}
.about-section .about-text h1 {
  margin-bottom: 2rem;
}
.about-section .about-image img {
  width: 100%;
  max-width: 600px;
  margin: 2rem;
}

.staff-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f4ede5;
  padding: 2rem;
}
.staff-section .staff-card img {
  width: 100%;
  max-width: 300px;
  margin: 2rem 0rem 0rem;
  border: 15px, solid, #f4dad0;
}
.staff-section .staff-card .role {
  max-width: 300px;
  padding: 0rem 0rem 1rem;
}
.staff-section .staff-card .bio {
  max-width: 300px;
  padding: 0rem 0rem 1rem;
.cards-section {
  background: #f4ede5;
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
}
.cards-section .treat-card {
  width: 90%;
  max-width: 600px;
  background: #fff;
  padding: 1.5rem;
  margin: 1rem auto;
}

.main-container {
  padding: 10px;
  display: grid;
  grid-template-columns: 20% 20% 40% 20%;
}/*# sourceMappingURL=styles.css.map */